<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Books
        </title>
        <link rel="stylesheet" href = "../static/css/bookkk.css" />
    </head>
    <body>
        <div class = "container">
            <h1>...BOOKS ARE HUMAN'S BEST FRIEND...</h1>
            <br>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt=""  width="80" height="80"/>
                </div>
                <div class="content">
                    <h2> Burnout: The Secret to Unlocking the Stress Cycle</h2>
                    <p> by Emily Nagoski, Amelia Nagoski</p>
                    <button onclick="openOne()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> When the Body Says No: The Cost of Hidden Stress </h2>
                    <p> by Gabor Maté </p>
                    <button  onclick="openTwo()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> The Upside of Stress: Why Stress Is Good for You, and How to Get Good at It </h2>
                    <p> by Kelly McGonigal</p>
                    <button  onclick="openThree()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>Fighting Invisible Tigers: A Stress Management Guide for Teens </h2>
                    <p> by Earl Hipp  </p>
                    <button onclick="openFour()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>Getting Things Done: The Art of Stress-Free Productivity </h2>
                    <p> by David Allen</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> Why We Sleep: Unlocking the Power of Sleep and Dreams </h2>
                    <p> by Matthew Walker</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>The Tapping Solution: A Revolutionary System for Stress-Free Living</h2>
                    <p> by Nick Ortner</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> The Inner Game of Stress: Outsmart Life's Challenges and Fulfill Your Potential </h2>
                    <p> by W. Timothy Gallwey</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>Choke: What the Secrets of the Brain Reveal About Getting It Right When You Have To  </h2>
                    <p> by Sian Beilock </p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>Failing Forward: Turning Mistakes Into Stepping Stones for Success</h2>
                    <p> by John C. Maxwell</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> The Obesity Code: Unlocking the Secrets of Weight Loss  </h2>
                    <p> by Jason Fung</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>The Art Of Concentration: Enhance Focus, Reduce Stress And Achieve More </h2>
                    <p> by Harriet Griffey</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> Psycho-Cybernetics, A New Way to Get More Living Out of Life </h2>
                    <p> by Maxwell Maltz</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> The Master Plan: My Journey from Life in Prison to a Life of Purpose </h2>
                    <p> by Chris Wilson</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2> The Obstacle Is the Way: The Timeless Art of Turning Trials into Triumph </h2>
                    <p>by Ryan Holiday</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
            <div class="book">
                <div class="icon">
                    <img src = "../static/images/icon.png" alt="" width="80" height="80" />
                </div>
                <div class="content">
                    <h2>The Culture Code: The Secrets of Highly Successful Groups </h2>
                    <p> by Daniel Coyle</p>
                    <button onclick="openFive()">READ IT</button>
                </div>
            </div>
        </div>
        <script>
            function openOne() {
                window.open("https://www.goodreads.com/book/show/42397849-burnout");
            }
            function openTwo() {
                window.open("https://www.goodreads.com/book/show/450534.When_the_Body_Says_No");
            }
            function openThree() {
                window.open("https://www.goodreads.com/book/show/23281639-the-upside-of-stress");
            }
            function openFour() {
                window.open("https://www.goodreads.com/book/show/290119.Fighting_Invisible_Tigers");
            }
            function openFive() {
                window.open("https://www.goodreads.com/shelf/show/stress-management");
            }
        </script>
    </body>
</html>
