.container-md{
    position: absolute;
    top: 5%;
    left: 51%;
    transform: translate(-50%, 0%);
}
body{
    /*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./wallpaper.png);*/
    background-image: linear-gradient(to right, #000a20, #011938, #000a20);
    background-size: cover;
    background-position: center;
    border-left: 10px;
    font-size: 25px;
    text-align:unset;
    color:rgb(255, 255, 255);
    font-family: cursive;
    margin: revert;
}

.h1{
    color:rgb(58, 6, 6);
    text-align: center;
}

#research {
    font-size: 18px;
    width: 100px;
    height: 23px;
    top: 23px;
}

#box {
    border-radius: 60px;
    border-color: 45px;
    border-style: inherit;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(223, 214, 210);
    font-size: medium;
    position: absolute;
    width: 700px;
    bottom: 9%;
    height: 850px;
    right: 30%;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

#fuel {
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 14px;
    font-size: 18px;
}

#fuel:hover {
    background-color: rgb(223, 214, 210);
}

#research {
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 14px;
    font-size: 18px;
}

#research:hover {
    background-color: rgb(223, 214, 210);
}

#resea {
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 14px;
    font-size: 18px;
}

#resea:hover {
    background-color: rgb(223, 214, 210);
}

#sub {
    width: 180px;
    height: 40px;
    text-align: center;
    border-radius: 18px;
    font-size: 18px;
    background: firebrick;
}

#sub:hover {
    background-color: rgb(223, 214, 210);
}

#first {
    border-radius: 14px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}

#second {
    border-radius: 14px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}

#third {
    border-radius: 14px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}

#fourth {
    border-radius: 14px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
