div{
/*    border-width: 5px;
    border-style: solid;    */
}
.container-md{
    position: absolute;
    top: 5%;
    left: 51%;
    transform: translate(-50%, 0%);
}
.height15{
    height: 15%;
}
.pad10{
    padding-top: 10px;
}
#greeting{
    font-weight: bold;
}
a{
    text-decoration: none;
}
#task1{
    background-color: #1060c3;
    color: floralwhite;
}
#task2{
    background-color: #1060c3;
    color: floralwhite;
}
#task3{
    background-color: #1060c3;
    color: floralwhite;
}
a{
    color: red!important;
}
