<!DOCTYPE html>
<html>
    <head>   
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Stress Classifier</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
        <form action="{{ url_for('predict')}}" method="POST">
            <br>
            <h2> Measure Your Stress 🧐</h2>
            <br>
            <p> Answer some simple questions and we will work together further STRESS FREE!! </p>
            <h3>What's your Age?</h3><select name="Age" id="Age" required="required">
            <option value="below 30">below 30</option>
            <option value="Between 30 and 50">Between 30 and 50</option>
            <option value="Above 50">Above 50</option>
            </select>

            <h3>What's your Gender?</h3><select name="Gender" id="Gender" required="required">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
    
            <h3>Sector you are working?</h3><select name="Sector" id="Sector" required="required">
                <option value="Public">Public</option>
                <option value="Private">Private</option>
            </select>
    
            <h3>Daily Working hours?</h3><select name="Work_hours" id="Work_hours" required="required">
                <option value="5hrs">5 hours</option>
                <option value="10hrs">10 hours</option>
                <option value="More than 10hrs">More than 10hrs</option>
                </select>
    
            <h3>Work years span?</h3><select name="Work_years_span" id="Work_years_span" required="required">
                <option value="Below 5 years">Below 5 years</option>
                <option value="Between 5 to 10 years">Between 5 to 10 years</option>
                <option value="Above 10 Years">Above 10 Years</option>
                </select>
            
            <h3>Do you feel stress during work?</h3><select name="Stressed_during_work" id="Stressed_during_work" required="required">
                    <option value="Sometimes">Sometimes</option>
                    <option value="Very Often">Very Often</option>
                    <option value="Never">Never</option>
                </select>
                
            <h3>Do you feel stress during work?</h3><select name="Feeling_on_job" id="Feeling_on_job" required="required">
                <option value="I am completely happy and enjoying the job">I am completely happy and enjoying the job</option>
                <option value="I sometimes feel dissatisfied but generally enjoy my job">I sometimes feel dissatisfied but generally enjoy my job</option>
                <option value="Most of the time I do not enjoy my work">Most of the time I do not enjoy my work</option>
                <option value="I have no interest at all in my work">I have no interest at all in my work</option>
                </select>
    
            <h3>What are your feeling on job?</h3><select name="Source_of_stress" id="Source_of_stress" required="required">
                <option value="Over work">Over work</option>
                <option value="Family Issues">Family Issues</option>
                <option value="Out of Control Situation">Out of Control Situation</option>
                <option value="Colleague  Attitude">Colleague  Attitude</option>
                <option value="All above in different proportions">All above in different proportions</option>
                </select>
    
            <h3>Specify your prime source of stress?</h3><select name="Age" id="Age" required="required">
                <option value="below 30">below 30</option>
                <option value="Between 30 and 50">Between 30 and 50</option>
                <option value="Above 50">Above 50</option>
                </select>
    
            <h3>How do you usually handle stress?</h3><select name="Handling_stress" id="Handling_stress" required="required">
                <option value="Talking to an expert">Talking to an expert</option>
                <option value="Taking a sleep">Taking a sleep</option>
                <option value="Drugs / Alcohol / Smoking">Drugs / Alcohol / Smoking</option>
                <option value="Talking to your family members">Talking to your family members</option>
                <option value="Talking to the employer">Talking to the employer</option>
                </select>
    
            <h3>How frequenlty stress affect concentration?</h3><select name="Stress_affecting_concentration" id="Stress_affecting_concentration" required="required">
                <option value="Very often">Very often</option>
                <option value="Somewhat">Somewhat</option>
                <option value="Never">Never</option>
                </select>
    
            <h3>Effort to reduce stress to improve concentration?</h3><select name="Effort_to_reduce_stress_to_improve_concentration" id="Effort_to_reduce_stress_to_improve_concentration" required="required">
                <option value="No effort">No effort</option>
                <option value="Some effort">Some effort</option>
                <option value="Lot of effort">Lot of effort</option>
                </select>
    
            <h3>Do you feel stress due to too many duties?</h3><select name="Stress_due_to_too_many_duties" id="Stress_due_to_too_many_duties" required="required">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
    
            <h3>Stress due to age?</h3><select name="Stress_due_to_age" id="Stress_due_to_age" required="required">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
    
            <h3>Are you stressed for family?</h3><select name="Stress_reason_family" id="Stress_reason_family" required="required">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
    
            <h3>Do you feel stress about the competitions?</h3><select name="Stress_due_to_competition" id="Stress_due_to_competition" required="required">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
    
            <h3>Prefer to stay alone?</h3><select name="Prefer_to_stay_alone" id="Prefer_to_stay_alone" required="required">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>

            <h3>Prefer taking responsibilities?<select name="Prefer_taking_responsibilities" id="Prefer_taking_responsibilities" required="required">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>

            <h3>Alcohol usage?</h3><select name="Alcohol_usage" id="Alcohol_usage" required="required">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
    
            <h3>How frequenlty do you feel stress?</h3><select name="Stress_nervous_habits" id="Stress_nervous_habits" required="required">
                <option value="Daily">Daily</option>
                <option value="Occasionally">Ocassionally</option>
                <option value="Sometime">Sometimes</option>
                <option value="Never">Never</option>
                </select>
    
            <h3>Does stress makes you nervous or anxiou</h3><select name="Stress_makes_nervous" id="Stress_makes_nervous" required="required">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                </select>
    
            
            <br><br><button id="sub" type="submit ">Calculate</button>
            <br>

        </form>
        
        <br><h3>{{ prediction_text }}<h3>
    </body>
</html>